<section>
    <div class="dashDiv">
        <div>
             <a href="/edit/{{id}}">{{post_title}}</a>
            <h4>Posted by: {{user.username}} on {{format_date post_date}}</h4>
        </div>
    </div>
</section>