<section>
    <div id="card">
        <div id="topCard" class="box">
            <h1>{{post.post_title}}</h1>
            <h2>{{post.post_date}}</h2>
        </div>
        <div id="bottomCard">
            <p>{{post.post_content}}</p>
        </div>
    </div>
</section>