<section>
   <section>
    <h1 id="dashTitle">Dashboard:</h1>
    <div id="dashboard">
      {{#each post as |postId|}}
      {{> dashPart}}
      {{/each}}
    </div>
    <button id="newPostBtn" onclick="window.location.href='/newBlog'">Add a post</button>
</section>
</section>
