<section>
   <section>
    <h1 id="dashTitle">Dashboard:</h1>
    <div id="dashboard">
      {{#each post as |postId|}}
      {{> dashPart}}
      {{/each}}
    </div>
    <button id="newPostBtn"><a href='/newBlog'>Add a post</a></button>
</section>
</section>