<section id="editDiv">
    <h1>Edit you blog!</h1>
    <div>
        <form class="editBlogForm">
            <label for="post_title">Title:</label>
            <input type="texbox" id="post_title" name="post_title" value="{{post.post_title}}">
            <label for="post_content">Post Content:</label>
            <input type="textbox" id="post_content" name="post_content" value="{{post.post_content}}">
        </form>
    </div>
    <div id="buttonDiv">
          <button class="deleteBtn">Delete</button>
          <button class="submitUpdate">Update</button>
    </div>
</section>
<script src="/js/delete.js"></script>
<script src="/js/editBlog.js"></script>