<section>
    <div>
        <h2>Login:</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </form>
        <button>Login</button>
    </div>
    <h3>No Account?<a href="#">Sign Up</a></h3>
</section>