<section>
    <div class="logInSignUpDiv">
        <h2>Login:</h2>
        <form class="loginForm">
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" name="username-login">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" name="password-login">
             <button id="subLogin">Login</button>
        </form>
         <h3>No Account?<a href="/signup">Sign Up</a></h3>
    </div>
</section>
 <script src="/js/login.js"></script>