<section>
    <form id="blogForm" class="blogForm">
        <label for="blogTitle">Blog Title:</label>
        <input type="text" id="blogTitle" name="blogTitle">
        <label for="blogContent">Blog Content:</label>
        <input type="text" id="blogContent" name="blogContent">
        <button type="submit" id="newBlogBtn">Create a Blog</button>
    </form>
</section>
<script src="/js/newBlog.js"></script>

