<section>
    <form class="blogForm">
        <label for="blogTitle">Blog Title:</label>
        <input type="text" id="blogTitle" name="blogTitle">
        <label for="blogContent">Blog Content:</label>
        <input type="text" id="blogContent" name="blogContent">

    </form>
</section>