<section>
    <div>
        <h1>{{post_title.id}}</h1>
    </div>
    <div>
        {{#each comments as |comment|}}
        {{> commentDiv}}
        {{/each}}
    </div>
    <div>
        <form class="commentForm">
            <label for="newComment">Leave a comment:</label>
            <input type="text" id="newComment" name="newComment">
            <button id="commentBtn">Submit</button>
        </form>
    </div>
</section>

<script src="/js/comment.js"></script>