<section>
    <div class="logInSignUpDiv">
        <h2>Sign Up:</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </form>
        <button>Sign Up</button>
    </div>
</section>