<section>
    <div class="logInSignUpDiv">
        <h2>Sign Up:</h2>
        <form class="signupForm">
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" name="username-signup">
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" name="password-signup">
            <button>Sign Up</button>
        </form>
        
    </div>
</section>
<script src="/js/signup.js"></script>