<section>
    <div id="card">
        <div id="topCard" class="box">
            <h1>Title</h1>
            <h2>Date</h2>
        </div>
        <div id="bottomCard">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus exercitationem totam atque dolores non saepe minus magni facere sint magnam esse beatae nesciunt architecto quia sapiente, temporibus molestias fugit dolorem?</p>

        </div>
       
    </div>
</section>