@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --heading: 'Elsie', cursive;
    --main: 'Source Sans Pro', sans-serif;
   --hotPink : #DE3163;
   --brown: #6E260E;
   --white: #f0e0e0;
   --lightPink: #e17b98;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: var(--main);
    
}
/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--lightPink);
}
#title{
    font-family: var(--heading);
    color: var(--hotPink);
    font-size: 2.3em;
    padding-block: 0.3em;
}
nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}
a{
    padding: 1em;
    text-decoration: none;
    color: var(--lightPink);
    font-weight: bold;
    font-size: 1.2em;
}
a:hover{
    color: var(--brown);
    text-decoration: underline;
}
button{
    background-color: var(--hotPink);
    color: var(--white);
    padding: 1em 2em;
    border-radius: 25px;
    border: none;
    margin: 0.5em;
}
/* Homepage */
#homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#homepage h1{
    font-family: var(--heading);
    margin-top: 1.9em;
    font-size: 1em;
}
#homepage a{
    color: var(--white);
    opacity: 100%;

}
#homepage p{
    color: var(--brown);
    font-size: 1.2em;
    margin-top: 1em;
}
/* Login Div */
.logInSignUpDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 5em;
}
.logInSignUpDiv h2{
    font-family: var(--heading);
    color: var(--hotPink);
    font-size: 1.8em;
}
form{
    display: flex;
    flex-direction: column;
    margin: 0.6em;
}
form label{
    margin-block: 0.5em;
    font-size: 1em;
}
form input{
    border: none;
    border-radius: 25px;
    padding: 1em;
}
.logInSignUpDiv h3{
    margin-block: 0.5em;
}
/* Single Block Of The Post */
#card{
    margin: 2em;
}
#card h1{
    padding-left: 0.5em;
    padding-bottom: 3.5em;
    font-size: 1.5em;
    color: var(--white);
    }

#card h2{
    padding-right: 2em;
    padding-bottom: 2.5em;
    font-size: 1em;
    color: var(--white);
}


#topCard{
    background-color: var(--hotPink);
    border-bottom: 2px wavy var(var(--hotPink));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 6.3em;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    --mask:
      radial-gradient(52.84px at 50% calc(100% - 73.50px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
      radial-gradient(52.84px at 50% calc(100% + 43.50px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
#bottomCard{
    background-color: var(--brown);
    color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100px;
}
#bottomCard p{
    color: var(--white);
    font-size: 1em;
    text-align: center;
    padding: 1em;
}
/* Dashboard */
#dashTitle{
    text-align: center;
    padding-top: 1em;
    font-family: var(--heading);
    color: var(--hotPink);
    font-size: 2em;
}
#dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.dashDiv{
    border: 3px dotted var(--hotPink);
    margin-inline: 2em;
    margin-block: 1em;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashDiv a{
    font-family: var(--heading);
    color: var(--hotPink);
    font-size: 1.5em;
    text-decoration: underline;
}
.dashDiv h4{
    color: var(--brown);
    font-size: 1.1em;
    padding-left: 1.4em;
}
#newPostBtn{
    float: right;
    margin-right: 3em;
}
/* Comments header */
#commentHeader{
    border: 3px dotted var(--hotPink);
    margin: 1em;
    border-radius: 15px;
    padding: 1em;
}
#commentHeader h1{
    font-family: var(--heading);
    color: var(--brown);
}
#commentHeader p{
    color: var(--lightPink);
}
#commentDiv{
    margin: 2em;
}
#commentDiv h2{
    text-align: center;
    font-family: var(--heading);
    color: var(--brown);
}
.commentEach{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--lightPink);
    padding: 0.5em;
    margin: 1em;
    border-radius: 25px;
}

.commentForm{
    background-color: var(--lightPink);
    margin: 4em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commentForm label{
    font-family: var(--heading);
    color: var(--white);
    font-size: 1.2em;
}
.commentForm input{
    width: 80%;
}
/* New Blog Form */
.blogForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 1em;
    margin-top: 3em;
}
.blogForm label{
    font-family: var(--heading);
    color: var(--hotPink);
    font-size: 1.2em;
}
.blogForm input{
    width: 60%;
   
}
